<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>othello</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>/retrieve.do</param-name>
    <param-value>jp.co.fitec.lesson.dropper.controller.MessageRetriever</param-value>
  </context-param>
  <context-param>
    <param-name>/register.do</param-name>
    <param-value>jp.co.fitec.lesson.dropper.controller.MessageRegister</param-value>
  </context-param>
  <context-param>
    <param-name>/reply.do</param-name>
    <param-value>jp.co.fitec.lesson.dropper.controller.ReMessageRegister</param-value>
  </context-param>
  
  <context-param>
    <param-name>/remove.do</param-name>
    <param-value>jp.co.fitec.lesson.dropper.controller.MessageRemover</param-value>
  </context-param>
  <context-param>
    <param-name>/geocode.do</param-name>
    <param-value>jp.co.fitec.lesson.dropper.controller.RGCClient</param-value>
  </context-param>
</web-app>